---
import Layout from "../layouts/Layout.astro";

const pageTitle = "404";
const description =  "page not found" 
---

<Layout title={pageTitle}, description={description}>
   <h1 class="">Page Not Found</h1>
</Layout>